{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Henry Weathersbee</title>
    <link rel="icon" href="http://example.com/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    <a href="./admin"><button class="btn btn-info navbar-btn admin-button-mobile">Admin</button></a>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid header">
            <div class="navbar-header">
                <a class="navbar-brand page-title" href="/">Henry Weathersbee</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'post_list' %}">Blog</a></li>
                <li><a href="{% url 'about' %}">About Me</a></li>
            </ul>
            <a href="./admin"><button class="btn btn-info navbar-btn admin-button-desktop">Admin</button></a>
        </div>
    </nav>

    <div class="page-header">
        <p>This site is designed with responsive principles - resize the page/debug with different devices to try it
            out!</p>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>