{% extends 'blog/base.html' %} {% block content %}
<div class="home container">
    <p></p>
    <h1>This site is my 2020 Covid-19 Coursework</h1>
    <h2>Student ID: 1906072</h2>
    <p>In-between getting outdoors and staying healthy, I have been spending the time learning a few new tools & technologies, including frontend frameworks for web and mobile: Bootstrap, React Native, Angular, Ionic.<br><br> For the remaining time before
        any semblance of normality resumes, I have plans to develop my functional programming knowledge & data manipulation abilities.</p>
    <p>This task has been a good opportunity to try some fancy CSS & to learn a bit of Django - I had only ever used pure Python before through my GCSE Computer Science and for basic scripting. I've just bought the domain henryweathersbee.com so I'm thinking
        about which content I will need & how to present it in a professional and aesthetically pleasing format, before I pay for hosting. For the past few years, and currently, I have also been responsible for <a href="https://www.ealingskateparkassociation.com"
            target="_blank">ealingskateparkassociation.com</a>, which, while secure & reliably hosted with a valid SSL certificate, is definitely in need of a cleanup & modernisation.</p>
    <p>Have a look through this site & see what I've done for this piece of bridging coursework, or if you're feeling brave, scroll down to see the latest tweets from Public Health England:</p>

    <div class="twitter-embed">
        <a class="twitter-timeline" href="https://twitter.com/PHE_uk?ref_src=twsrc%5Etfw">Tweets by PHE_uk</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    {% endblock %}