.admin-button-mobile {
    display: none;
}

.page-title {
    margin-top: 3px;
    margin-bottom: -3px;
    font-size: 3em;
    font-weight: 500;
    font-family: "Bebas Neue", Arial;
}

.navbar {
    margin-bottom: 0;
}

.page-header {
    margin-top: 0;
    background-color: rgb(255, 165, 82, 0.9);
    text-align: center;
    font-size: 1.2em;
    padding: 10px 10px 0px;
}

.admin-button-desktop {
    float: right;
}

.twitter-embed {
    display: block;
    margin: auto;
    max-width: 600px;
}

.more-blogs h5{
    font-size: 1.2em;
    margin-bottom: 20px;
}

.date {
    color: grey;
    margin-bottom: -15px;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
}

.id-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    float: right;
    margin-left: 30px;
    margin-right: 10%;
}

.about-heading {
    display: block;
}

.about-paragraph {
    margin-bottom: 2em;
    font-size: 15px;
}

.about-links {
    text-align: center;
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .page-title {
        margin-top: 10px;
        font-size: 3em;
    }
    .page-header {
        font-size: 1.1em;
    }

    .more-blogs h5{
        font-size: 1.2em;
        margin-bottom: 10px;
        text-align: center;
    }

    .admin-button-desktop {
        display: none;
    }

    .admin-button-mobile {
        margin-top: 20px;
        display: block;
        float: right;
    }

    .id-photo {
        display: block;
        margin: auto;
        margin-bottom: 2em;
        float: none;
    }
}